# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [34]:
nums = [1,2,3,4]
nums

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [35]:
nums.remove(3)      #method1
nums

[1, 2, 4]

In [36]:
nums1 = [1,2,3,4]

In [37]:
nums1.pop(2)            #method2

3

In [38]:
nums1

[1, 2, 4]

[1, 2, 4]

In [54]:
nums2 = [1,2,3,4]

In [55]:
list1 = []
for i in nums2:                  #method-3
    if i!=3:
        list1.append(i)
print(list1)

[1, 2, 4]

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [56]:
lst = [2,3,4]

In [59]:
lst.insert(0,1)

In [60]:
lst

[1, 2, 3, 4]

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [61]:
lst.insert(2,'two-and-half')
lst

[1, 2, 'two-and-half', 3, 4]

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [62]:
 phrase = "Don't panic!"

*convert into list*

In [86]:
a = list(phrase)
a

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [87]:
a.remove('!')
a.pop(3)
a

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [88]:
a.remove('D')
a.remove('i')
a.remove('c')
a

['o', 'n', 't', ' ', 'p', 'a', 'n']

In [89]:
a.append('D')
a.insert(4,'i')
a.insert(5,'c')
a

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [91]:
b = ['p', 'a', 'n', 'D', 'a']

In [93]:
''.join(b)

'panDa'

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [94]:
nums = (31,24,35,85)

In [96]:
print('data type',type(nums))
nums

data type <class 'tuple'>

(31, 24, 35, 85)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [98]:
n = list(nums)
n
n.remove(35)
n

[31, 24, 85]

In [99]:
tuple(n)

(31, 24, 85)

(31, 24, 85)

**Extent** tuple (85,19)

In [100]:
n.extend([85,19])
n

[31, 24, 85, 85, 19]

In [101]:
tuple(n)

(31, 24, 85, 85, 19)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [103]:
tpl = ('i','n''n','0')

In [104]:
'i'in tpl

True

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [115]:
list1 = ['Hello',100,[],'innomatics']

In [116]:
list1.insert(2,[200])
list1.pop(3)
list1

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [132]:
tpl = list("Innomatics")

In [133]:
type(tpl)

list

In [134]:
tpl.reverse()
tpl

['s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I']

In [135]:
tuple(tpl)

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [9]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [24]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
list1 =[]
for i in tpl:
    add = i + (100,)
    list1.append(add)
print(list1)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [38]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [39]:
a = len(tpl)
a

3

In [40]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

for i in range(a):
    
    n = list(tpl[i])
    
    n[-1] = 100
    
    tpl[i] = tuple(n)


print(tpl)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [41]:
n = '5 2 3 6 6 5'

In [43]:
a = n.split()
a

['5', '2', '3', '6', '6', '5']

In [44]:
for i in a:
    if i==5:
        print('second higest is:',i)

In [53]:
print('second higest is :',i)

second higest is : 5

5 2 4 6 2 2
second higest is : 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [15]:
list1 = [12,24,35,70,88,120,155]

In [16]:
n = [a for i,a in enumerate(list1) if i not in [0,4,5]]

In [17]:
n

[24, 35, 70, 155]

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [80]:
a = (1,2,3,4,5,6,7,8,9,10)

In [89]:
b = []
for i in a:
    if i <= 5:
        b.append(i)
print(b)

[1, 2, 3, 4, 5]

In [91]:
tuple(b)

(1, 2, 3, 4, 5)

In [90]:
c = []
for i in a :
    if i>5:
        c.append(i)
print(c)

[6, 7, 8, 9, 10]

In [92]:
tuple(c)

(6, 7, 8, 9, 10)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [78]:
a = (1,2,3,4,5,6,7,8,9,10)
b = []
for i in a :
    if i % 2 == 0:
        b.append(i)
print(b)

[2, 4, 6, 8, 10]

In [79]:
tuple(b)

(2, 4, 6, 8, 10)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

LIST : **1.List is collection datatype. 
    *2.list is used to store multiple values.
    *3.list can be represented with '[]'.
    *The attributes of List is :
        *1.mutable
        *2.ordered
        *3.duplicates are allowed
        *4.index follows
        
eg : list1 = [1,2,3,4]

TUPLE : **Tuple is also collection datatype.
    *2.Tuple is used to store multiple values.
    *3.Tuple can be represented with '()'.
    *The attributes of Tuple is :
        *1.immutable
        *2.ordered
        *3.duplicates are allowed
        *4.index follows
        
eg : tuple1 = (1,2,3,4,5)

### 2. Explain the difference between append() and extend() with examples

append : To add the element at the end off the list.only one element can be added in single time

In [101]:
list1 = [1,2,3]

In [102]:
list1.append(4)
list1

[1, 2, 3, 4]

extend : To add multiple elements in single time

In [103]:
list1.extend([5,6,7,8])
list1

[1, 2, 3, 4, 5, 6, 7, 8]

### 3. Explain the difference between pop() and remove() with examples

remove : remove the item with specified value

In [105]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [107]:
list1.remove(8)
list1

[1, 2, 3, 4, 5, 6, 7]

pop : removes the element with specified position

In [108]:
list1.pop(0)
list1

[2, 3, 4, 5, 6, 7]

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)