# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [26]:
person1 = {'Name' : 'John','Gender' : 'male','Occupation' : 'Data scientist','Location' : 'Nizampet,Hyderabad'}

In [10]:
person1

{'Name': 'John',
 'Gender': 'male',
 'Occupation': 'Data scientist',
 'Location': 'Nizampet,Hyderabad'}

In [4]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [12]:
list(person1.keys())

['Name', 'Gender', 'Occupation', 'Location']

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [30]:
person1.pop('Location')

'Nizampet,Hyderabad'

In [31]:
person1

{'Name': 'John', 'Gender': 'male', 'Occupation': 'Data scientist'}

In [41]:
person1['Age'] = 27
person1

{'Name': 'John', 'Gender': 'male', 'Occupation': 'Data scientist', 'Age': 27}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [42]:
person2 = {"Age" : 25,'Gender' : 'Male','Name' : 'Raghu Ram','Occupation' : "Data Scientist"}

In [43]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

In [5]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [49]:
print('=' * 20 ,'person1' ,'=' * 20)
print(person1)
print('=' * 20 ,'person2' ,'=' * 20)
print(person2)

==================== person1 ====================
{'Name': 'John', 'Gender': 'male', 'Occupation': 'Data scientist', 'Age': 27}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

==================== person1 ====================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [55]:
a = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [56]:
a.pop(1)
print(a)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [61]:
a.popitem()
print(a)

{2: 4, 3: 9, 4: 16, 5: 25}

In [63]:
a.clear()
print(a)

{}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [64]:
n = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [72]:
a = list(n.values())

In [74]:
a.sort(reverse = True)
print(a)

[81, 49, 25, 9, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [75]:
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [78]:
dict1.update(dict2)
dict1

{'a': 1, 'b': 3, 'c': 4}

In [80]:
dict1.update(dict3)
dict1

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [3]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [6]:
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [7]:
sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhony', 'salary': 7500}, 'emp2': {'name': 'Ravi', 'salary': 8000}, 'emp3': {'name': 'Charan', 'salary': 8500}}

In [8]:
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [9]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [43]:
print(sampleDict["class"]["student"]["marks"]["history"])

80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [54]:
n = {'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [55]:
n.pop('Location')

'Nizampet, Hyderabad'

In [56]:
n.update({'Area':'Nizampet,Hyderabad'})

In [57]:
print(n)

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist', 'Area': 'Nizampet,Hyderabad'}

In [58]:
n

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet,Hyderabad'}

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

### Task-1

In [2]:
database = {'ramesh':1234,'sanjay':5678,'ganesh':1357}
username = input('enter user name:: ')
password = int(input('enter password:: '))

if username in database and database[username] == int(password):
    print(f'Hello {username}')

enter user name:: ganesh
enter password:: 1357
Hello ganesh

### Task-2

In [3]:
database = {'ramesh':1234,'sanjay':5678,'ganesh':1357}
username = input('enter user name:: ')
password = int(input('enter password:: '))

if username in database and database[username] == int(password):
    print(f'Hello {username}')
else:
    print('you want me to add into the database')

enter user name:: sai
enter password:: 1432
you want me to add into the database

### Task-3

In [10]:
database = {'ramesh':1234,'sanjay':5678,'ganesh':1357}
database['sai'] = 1432

In [11]:
database

{'ramesh': 1234, 'sanjay': 5678, 'ganesh': 1357, 'sai': 1432}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)