## 1. Create Python class named `Student` and display its type

In [13]:
class student:
    pass

In [14]:
print(type(student))

<class 'type'>

<class 'type'>

## 2. How to call a variable and function by creating a simple class

In [9]:
class dog:
    def method(self):
        print('This is variable1')
    def method1(self):
        print('I''m from function This is Variable1')

In [10]:
d = dog()

In [12]:
d.method()
d.method1()

This is variable1
Im from function This is Variable1

In [ ]:
class Dog:
     #CODE HERE

This is Variable1
I'm from function This is Variable1

## 3. Create a class with one `static variable` and two `instace variables`

In [11]:
class Demo():

I am Static variable
instance_var1
instance_var2

In [2]:
class Demo:
    n = 'I am Static Variable'
    
    def __init__(self,instance_var1,instance_var2):
        self.instance_var1 = instance_var1
        self.instance_var2 =instance_var2
        
    def method1(self):
        print('instance_var1')
        
    def method2(self):
        print('instance_var2')

In [4]:
a = Demo(1,2)

In [58]:
a.n

'I am Static Variable'

In [57]:
a.method1()
a.method2()

instance_var1
instance_var2

## 4. Create a `Vehicle` class with max_speed and mileage instance attributes

In [ ]:
# CODE HERE

In [ ]:
class Vehicle:
    #CODE HERE

240 18

In [5]:
class Vehicle:
    def __init__(self,max_speed,mileage):
        self.max_speed = max_speed
        self.mileage = mileage

In [6]:
a = Vehicle(240,18)

In [7]:
print(a.max_speed,a.mileage)

240 18

## 5. Create a simple class `Person` with constructer and one argument `name`

In [ ]:
# CODE HERE

In [ ]:
# A Sample class with init method
class Person:
   
    #CODE HERE
   
p = Person('Ram')
p.say_hi()

Hello, my name is Ram

In [9]:
class person:
    def __init__(self,name,say_hi):
        self.name = name
        self.say_hi = say_hi

In [10]:
p = person('ram','Hello,')

In [11]:
print(p.say_hi,'my name is',p.name)

Hello, my name is ram

## 6. Create a class for `Students` information like `name, rollno, marks` and `school name` with static variable.
- create a function for displaying student information
- create one more function for getting students marks and percentage

In [ ]:
class Student:

Name: abc, RollNo: 1, Marks: 399, College: DIT
Dictionary :  {'name': 'abc', 'rno': 1, 'marks': 399}
percentahe of 399 out of 500 is :  79.80000000000001

In [117]:
class student:
    
    def __init__(self,name,rollno,marks,schoolname):
        self.name = name
        self.rollno = rollno
        self.marks = marks
        self.schoolname = schoolname
        
    def method(self):
        print(f'Name : {self.name}',f'RollNo : {self.rollno}',f'Marks : {self.marks}',f'College : {self.schoolname}')
        print(f'Dictionary :',{'name':'abc','rollno':1,'marks':399})
       
        
    def caluculate(self,marks):
        total_marks = 500
        percentage = (self.marks/total_marks)*100
        print(percentage)

In [118]:
s = student('abc',1,399,'DIT')

In [119]:
s.method()

Name : abc RollNo : 1 Marks : 399 College : DIT
Dictionary : {'name': 'abc', 'rollno': 1, 'marks': 399}

In [106]:
s.caluculate(399)

79.80000000000001

## 7. Create a child class `Bus` that will inherit all of the variables and methods of the `Vehicle` class

In [ ]:
# CODE HERE

In [ ]:
class Vehicle:

    #CODE HERE

Vehicle Name: School Bus Speed: 180 Mileage: 12

In [18]:
class vehicle:
    def __init__(self,vehiclename,speed,mileage):
        self.vehiclename = vehiclename
        self.speed = speed
        self.mileage = mileage
        
    
        
        
class bus(vehicle):
    pass

In [19]:
a = vehicle('school bus',180,12)

In [20]:
b = bus('school bus',180,12)

In [21]:
print(f'Vehicle Name : {b.vehiclename}',f' Speed : {b.speed}',f'Mileage : {b.mileage}')

Vehicle Name : school bus  Speed : 180 Mileage : 12

## 8. Create a class `Employee` with two arguments `name and salary`
- create a function which displays the employee information
- Print total number of employees

In [10]:
class Employee:
   
   #CODE HERE

Name :  Zara , Salary:  2000
Name :  Manni , Salary:  5000
Total Employee 2

In [12]:
class Employee:
    total_employees = 0
    def __init__(self,name,salary):
        self.name = name
        self.salary = salary
        Employee.total_employees =  Employee.total_employees + 1
        
    def method(self):
        print(f'Name: {self.name}',f'Salary: {self.salary}')

In [13]:
a = Employee('zara',2000)

In [14]:
b = Employee('Manni',5000)

In [16]:
a.method()

b.method()
print('Total employees:',a.total_employees)

Name: zara Salary: 2000
Name: Manni Salary: 5000
Total employees: 2